aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1689804989543/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
alembic @ file:///home/conda/feedstock_root/build_artifacts/alembic_1684377053240/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1688651106312/work/dist
apache-airflow @ file:///croot/airflow-split_1671226511553/work
apache-airflow-providers-common-sql @ file:///home/conda/feedstock_root/build_artifacts/apache-airflow-providers-common-sql_1688992376864/work
apache-airflow-providers-ftp @ file:///home/conda/feedstock_root/build_artifacts/apache-airflow-providers-ftp_1687724033581/work
apache-airflow-providers-http @ file:///home/conda/feedstock_root/build_artifacts/apache-airflow-providers-http_1689495457369/work
apache-airflow-providers-imap @ file:///home/conda/feedstock_root/build_artifacts/apache-airflow-providers-imap_1687730516080/work
apache-airflow-providers-sqlite @ file:///home/conda/feedstock_root/build_artifacts/apache-airflow-providers-sqlite_1687730908792/work
apispec @ file:///tmp/build/80754af9/apispec_1598985082814/work
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
argcomplete @ file:///home/conda/feedstock_root/build_artifacts/argcomplete_1686587382193/work
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1640817743617/work
argon2-cffi-bindings @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi-bindings_1666850859330/work
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1662382474514/work
asgiref @ file:///home/conda/feedstock_root/build_artifacts/asgiref_1685243452975/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1640026696943/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1683424013410/work
Automat @ file:///home/conda/feedstock_root/build_artifacts/automat_1667331175863/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1677767029043/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
bcrypt @ file:///home/conda/feedstock_root/build_artifacts/bcrypt_1666831338495/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1681349778161/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1687884021435/work
cachelib @ file:///home/conda/feedstock_root/build_artifacts/cachelib_1675325736137/work
cattrs @ file:///home/conda/feedstock_root/build_artifacts/cattrs_1685682319569/work
certifi==2023.7.22
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1671179360775/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1688813409104/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1689751945043/work
clickclick==1.2.2
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colorlog @ file:///home/conda/feedstock_root/build_artifacts/colorlog_1687453753842/work
colour==0.1.5
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1679481329611/work
ConfigUpdater @ file:///home/conda/feedstock_root/build_artifacts/configupdater_1656280637885/work
connexion @ file:///home/conda/feedstock_root/build_artifacts/connexion_1682603439388/work
constantly==15.1.0
coverage==7.2.7
cron-descriptor @ file:///home/conda/feedstock_root/build_artifacts/cron-descriptor_1687865556314/work
croniter @ file:///home/conda/feedstock_root/build_artifacts/croniter_1686929181238/work
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1669592186537/work
cssselect @ file:///home/conda/feedstock_root/build_artifacts/cssselect_1666980406338/work
debugpy @ file:///home/conda/feedstock_root/build_artifacts/debugpy_1680755452907/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
Deprecated @ file:///home/conda/feedstock_root/build_artifacts/deprecated_1685233314779/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1690101045195/work
dnspython @ file:///home/conda/feedstock_root/build_artifacts/dnspython_1690389238994/work
docutils @ file:///home/conda/feedstock_root/build_artifacts/docutils_1684324162058/work
email-validator @ file:///opt/conda/conda-bld/email-validator-meta_1659798158442/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1688381075899/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1686612785345/work
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1676592993069/work
Flask-AppBuilder @ file:///croot/flask-appbuilder_1668714633484/work
Flask-Babel @ file:///home/conda/feedstock_root/build_artifacts/flask-babel_1598620434524/work
Flask-Caching @ file:///home/conda/feedstock_root/build_artifacts/flask-caching_1659219902730/work
Flask-JWT-Extended @ file:///home/conda/feedstock_root/build_artifacts/flask-jwt-extended_1685132061339/work
Flask-Login @ file:///home/conda/feedstock_root/build_artifacts/flask-login_1658793187139/work
Flask-Session @ file:///home/conda/feedstock_root/build_artifacts/flask-session_1683847740536/work
Flask-SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/flask-sqlalchemy_1616102249273/work
Flask-WTF @ file:///home/conda/feedstock_root/build_artifacts/flask-wtf_1674028130830/work
flit_core @ file:///home/conda/feedstock_root/build_artifacts/flit-core_1684084314667/work/source/flit_core
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1689244380201/work
furl @ file:///home/conda/feedstock_root/build_artifacts/furl_1632798741194/work
graphviz @ file:///home/conda/feedstock_root/build_artifacts/python-graphviz_1658658635601/work
greenlet @ file:///home/conda/feedstock_root/build_artifacts/greenlet_1684082907316/work
gunicorn @ file:///home/conda/feedstock_root/build_artifacts/gunicorn_1689781689750/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1664132893548/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1633502706969/work
hpack==4.0.0
httpcore @ file:///home/conda/feedstock_root/build_artifacts/httpcore_1688612313164/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1684534812525/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
hyperlink @ file:///home/conda/feedstock_root/build_artifacts/hyperlink_1610092164190/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1663625384323/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1688754491823/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1689017639396/work
incremental @ file:///home/conda/feedstock_root/build_artifacts/incremental_1665859450441/work
infinity @ file:///home/conda/feedstock_root/build_artifacts/infinity_1622383622831/work
inflection @ file:///home/conda/feedstock_root/build_artifacts/inflection_1598089801258/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1673103042956/work
intervals @ file:///home/conda/feedstock_root/build_artifacts/intervals_1625223179549/work
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1690311270420/work
ipython @ file:///croot/ipython_1680701871216/work
itemadapter @ file:///home/conda/feedstock_root/build_artifacts/itemadapter_1680243523209/work
itemloaders @ file:///home/conda/feedstock_root/build_artifacts/itemloaders_1682077230392/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1648147185463/work
jedi @ file:///tmp/build/80754af9/jedi_1644297102865/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1655568249366/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1689687135513/work
jsonschema-specifications @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-specifications_1689701150890/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1687700988094/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1686775603087/work
lazy-object-proxy @ file:///home/conda/feedstock_root/build_artifacts/lazy-object-proxy_1672877776389/work
linkify-it-py @ file:///home/conda/feedstock_root/build_artifacts/linkify-it-py_1651923627081/work
lockfile==0.12.2
lxml @ file:///home/conda/feedstock_root/build_artifacts/lxml_1688564731299/work
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1668568582731/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1690307387991/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1686175045316/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1685769048265/work
marshmallow @ file:///home/conda/feedstock_root/build_artifacts/marshmallow_1689924608696/work
marshmallow-enum @ file:///home/conda/feedstock_root/build_artifacts/marshmallow-enum_1602427317752/work
marshmallow-oneofschema @ file:///home/conda/feedstock_root/build_artifacts/marshmallow-oneofschema_1625707901050/work
marshmallow-sqlalchemy @ file:///home/conda/feedstock_root/build_artifacts/marshmallow-sqlalchemy_1623007433413/work
matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
mdit-py-plugins @ file:///home/conda/feedstock_root/build_artifacts/mdit-py-plugins_1686175351422/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1639515908913/work
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1672339396340/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1664684991461/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1688887034580/work
orderedmultidict==1.0.1
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1681337016113/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1688740513253/work
parsel @ file:///home/conda/feedstock_root/build_artifacts/parsel_1681832224042/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
passlib==1.7.4
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1690597952537/work
pendulum @ file:///home/conda/feedstock_root/build_artifacts/pendulum_1675485111513/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
phonenumbers @ file:///home/conda/feedstock_root/build_artifacts/phonenumbers_1689927684024/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1633981968097/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1690813113769/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1687776318736/work
prison @ file:///home/conda/feedstock_root/build_artifacts/prison_1631689776410/work
prompt-toolkit @ file:///croot/prompt-toolkit_1672387306916/work
Protego @ file:///home/conda/feedstock_root/build_artifacts/protego_1647348122707/work
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1681775019467/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
PyDispatcher==2.0.5
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1681904169130/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1689721553971/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1685514481738/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
pytest @ file:///home/conda/feedstock_root/build_artifacts/pytest_1687692146518/work
pytest-cov==4.1.0
python-daemon @ file:///home/conda/feedstock_root/build_artifacts/python-daemon_1678793454688/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-nvd3 @ file:///home/conda/feedstock_root/build_artifacts/python-nvd3_1595437239503/work
python-slugify @ file:///home/conda/feedstock_root/build_artifacts/python-slugify_1677265108728/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1680088766131/work
pytzdata @ file:///home/conda/feedstock_root/build_artifacts/pytzdata_1594644346367/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1666772387118/work
pyzmq @ file:///home/conda/feedstock_root/build_artifacts/pyzmq_1685519261210/work
queuelib @ file:///home/conda/feedstock_root/build_artifacts/queuelib_1629994290383/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/referencing_1689701127998/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1684774241324/work
requests-file @ file:///home/conda/feedstock_root/build_artifacts/requests-file_1591227832914/work
requests-toolbelt @ file:///home/conda/feedstock_root/build_artifacts/requests-toolbelt_1682953341151/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich-split_1690807641695/work/dist
rpds-py @ file:///home/conda/feedstock_root/build_artifacts/rpds-py_1689705072593/work
Scrapy @ file:///home/conda/feedstock_root/build_artifacts/scrapy_1683550201292/work
service-identity==18.1.0
setproctitle @ file:///home/conda/feedstock_root/build_artifacts/setproctitle_1666817165162/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1662051266223/work
SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy_1688765447660/work
SQLAlchemy-JSONField @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy-jsonfield_1671485363500/work
SQLAlchemy-Utils @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy-utils-split_1682608738682/work
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1681817562700/work
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
swagger-ui-bundle==0.0.6
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1665138452165/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1677600641219/work
termcolor @ file:///home/conda/feedstock_root/build_artifacts/termcolor_1682317048417/work
text-unidecode==1.3
tldextract @ file:///home/conda/feedstock_root/build_artifacts/tldextract_1684551854728/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1684150239299/work
traitlets @ file:///croot/traitlets_1671143879854/work
Twisted @ file:///home/conda/feedstock_root/build_artifacts/twisted_1667305495832/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1688315532570/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1680081134351/work
uc-micro-py @ file:///home/conda/feedstock_root/build_artifacts/uc-micro-py_1608058642472/work
unicodecsv==0.14.1
Unidecode @ file:///home/conda/feedstock_root/build_artifacts/unidecode_1664588179651/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1689789803562/work
w3lib @ file:///home/conda/feedstock_root/build_artifacts/w3lib_1670599828182/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1676411946679/work
wrapt @ file:///home/conda/feedstock_root/build_artifacts/wrapt_1677485548240/work
WTForms @ file:///home/conda/feedstock_root/build_artifacts/wtforms_1640306863281/work
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1685191803031/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1689374466814/work
zope.interface @ file:///home/conda/feedstock_root/build_artifacts/zope.interface_1679046879699/work
